# Created by .ignore support plugin (hsz.mobi)

configuracion/local_settings.py
dbsqlite
db.sqlite3

*/migrations/0*
descargas/*
*.pyc

static/media/uploads/*
!static/media/uploads/__init__.py

.idea
.idea/*

.vscode